<div class="container text-center justify-content-center">
  <div class="row align-text-center">
    <div class="col-auto mb-3">
      <h2>{{ scramble }}</h2>
    </div>
  </div>
  <div class="row full-width">
    <div class="col-auto full-width">
      <mat-card
        (touchstart)="onTimerReady($event)"
        (touchend)="onTimerFinished($event)"
        (mousedown)="onTimerReady($event)"
        (mouseup)="onTimerFinished($event)"
        [class]="backgroundColorClass"
        class="timer-container mb-3"
      >
        <mat-card-content>
          <h1>
            {{ timeInMilliseconds | msToTime }}
          </h1>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
