<div class="container text-center justify-content-center">
  <div class="row align-text-center">
    <div class="col-auto">
      <app-scramble
        (generatedScramble)="onScrambleGenerated($event)"
        [newScramble]="timerStopped.asObservable()"
      ></app-scramble>
    </div>
  </div>
  <div class="row full-width">
    <div class="col-auto full-width">
      <mat-card
        (mousedown)="onTimerReady($event)"
        (mouseup)="onTimerFinished($event)"
        [class]="backgroundColorClass"
        class="timer-container mb-3"
      >
        <mat-card-content>
          <h1>
            {{ timeInMilliseconds | msToTime }}
          </h1>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <span>
            <h3 *ngIf="mean">mean: {{ mean | msToTime }}</h3>
          </span>
          <span *ngFor="let key of averagesKeys">
            <h3 *ngIf="averages[key]">Ao{{ key }}: {{ averages[key] | msToTime }}</h3>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
