<mat-card *ngIf="isLoaded">
  <mat-card-content>
    <div>
      <div *ngIf="isAuthorized; else roomLogin" class="row">
        <div class="col-sm-12 col-md-6 text-center justify-content-center">
          <h3 class="text-center">
            Puzzle: {{ solveService.puzzleToString(room.settings.puzzle) }}
          </h3>
          <div *ngIf="room.settings.enableSolveTimeLimit" class="mb-1">
            <mat-progress-bar
              [color]="getSolveProgressColor()"
              [value]="remainingPercents"
              matTooltip="Default limit for solve (5 mins) to finish. Even if some members haven't finished their solves, new solve will be forced"
              mode="determinate"
            ></mat-progress-bar>
          </div>
          <app-timer
            [puzzleType]="room.settings.puzzle"
            [puzzleImage]="currentSolve.scrambledPuzzleImage"
            [scramble]="currentSolve.scramble"
            [reset]="reset"
            (sendResult)="onSendResult($event)"
          ></app-timer>
        </div>
        <div class="col-md-6 col-sm-12 mt-3">
          <mat-card>
            <mat-card-content>
              <div class="row align-items-end">
                <!--                <p *ngFor="let avg of notEmptyAverages">Ao{{ avg.ao }}: {{ avg.time }}</p>-->
                <div class="row justify-content-start">
                  <button (click)="forceNewSolve()" color="accent" mat-raised-button class="col-6">
                    Force new solve
                  </button>
                </div>
                <table class="table w-auto">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th *ngFor="let user of room.connectedUserNames" scope="col">
                        <div>Mean: {{ mean[user]?.time }}</div>
                        <div>
                          Best:
                          {{ solveService.bestUserSolve(user, room.solves).time | msToTime }}
                        </div>
                        <div *ngFor="let avg of averages[user]">Ao{{ avg.ao }}: {{ avg.time }}</div>
                        <div
                          [style.color]="currentUserName === user ? '#FF4081' : 'black'"
                          class="text-center"
                        >
                          {{ user }}
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let solve of room.solves">
                      <th scope="row">{{ solve.solveNumber }}</th>
                      <td
                        *ngFor="let user of room.connectedUserNames"
                        [style.color]="colorUserResult(user, solve)"
                      >
                        <button
                          *ngIf="formatResult(getUserResult(solve, user)) as currentResult"
                          mat-button
                          (click)="openSolveInfo(solve, currentResult)"
                          class="w-auto"
                        >
                          {{ currentResult }}
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <ng-template #roomLogin>
        <button (click)="createNewRoom()" class="mx-2" color="accent" mat-raised-button>
          Create new room
        </button>
        <button (click)="ngOnInit()" color="primary" mat-raised-button>Reload</button>
        <p class="mt-2">Available rooms:</p>
        <div class="row mt-3 justify-content-start text-center">
          <div *ngFor="let room of availableRooms" class="col-sm-12 col-md-3 col-lg-2 my-2 mx-2">
            <a [routerLink]="['/rooms', room.roomName]" class="full-width" mat-raised-button>
              {{ room.isOpen ? "Open room" : "Private room" }}
              <br />
              Puzzle: {{ solveService.puzzleToString(room.puzzle) }}
              <br />
              Name: {{ room.roomName }}
              <br />
              Users: {{ room.connectedUsersCount }} / {{ room.maxUsersCount }}
            </a>
          </div>
        </div>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>
